body {
    background-color: #F5F5F5;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.staff-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.staff-list__header {
    width: 900px;
    margin-bottom: 94px;
    position: relative;
}

.staff-list__title {
    position: relative;
    padding-left: 21px;
    font-size: 30px;
    font-weight: 700;
    line-height: 100%;
    color: #000000;
    margin: 0;
}

.staff-list__title::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 40px;
    border-left: 8px solid #000000;
}

.staff-list__inner {
    width: 900px;
    min-height: 317px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #E1E1E1;
}

.staff-list__table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.staff-list__row--header {
    height: 45px;
    border-bottom: 3px solid #E1E1E1;
}

.staff-list__row {
    height: 50px;
    border-bottom: 1px solid #E1E1E1;
}

.staff-list__row:last-child {
    border-bottom: none;
}

.staff-list__label--name,
.staff-list__label--email,
.staff-list__label--link,
.staff-list__data--name,
.staff-list__data--email {
    font-size: 16px;
    font-weight: 700;
    color: #737373;
    letter-spacing: 0.15em;
    text-align: center;
    vertical-align: middle;
}

.staff-list__label--name,
.staff-list__data--name {
    width: 302px;
}

.staff-list__label--email,
.staff-list__data--email {
    width: 400px;
}

.staff-list__label--link,
.staff-list__data--link {
    width: 198px;
}

.staff-list__data--link {
    text-align: center;
    vertical-align: middle;
}

.staff-list__link {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    letter-spacing: 0.15em;
    text-decoration: none;
}

@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .staff-list {
        padding-top: 80px;
    }
}

@media screen and (min-width: 768px) and (max-width: 850px) {

    .staff-list__header,
    .staff-list__inner {
        width: 700px;
    }

    .staff-list__label--name,
    .staff-list__data--name {
        width: 200px;
    }

    .staff-list__label--email,
    .staff-list__data--email {
        width: 350px;
    }

    .staff-list__label--link,
    .staff-list__data--link {
        width: 150px;
    }

    .staff-list__title {
        font-size: 26px;
    }
}